<form id="frm-step2" name="frm-step2">
    <div class="grupo form-group">
    <button type="button" class="btn btn-lg center-block button-voltar">Voltar</button>
  </div>

{% if rastreamento|length > 0 %}
<section>
    <div class="container-plans">
    {% for rast in rastreamento %}
        <div data-index="{{ loop.index0 }}" data-valor="{{ rast.valor }}" data-nome="{{ rast.nome }}" data-instalacaogratis="{{ rast.instalacaoGratis }}" class="planos-rastreamento-mais-seguro__box {% if rast.seguro %} seguro{% endif %}">
            {% if rast.seguro %}
                <span class="box-destaque">
                    <span>COM SEGURO</span>
                </span>
            {% endif %}

            <h4 class="titulo">{{ rast.nome }}</h4>
            <div>
                <span class="cifrao">R$</span>
                <span class="valor">{{ rast.valor_inteiro }}</span>
                <span class="valor-decimal">,{{ rast.valor_decimal }}</span>
                <span class="tempo">por mês</span>

                {% if (rast.instalacaoGratis) %}
                    <span class="budle">+ instalação</span>
                {% endif %}
            </div>
            <div class="descricao">
                <p>{{ rast.descricao }}</p>
            </div>
            {% if (rast.logoUrl) %}
                <span class="logo"><img src="{{ rast.logoUrl }}" /></span>
            {% endif %}
            <input type="radio" name="plano-index" id="plano-index{{ loop.index0 }}" value="{{ loop.index0 }}" />
        </div>
    {% endfor %}
    </div>

    <div class="container-plugins">
    <h2 class="plugins__title">Planos Adicionais +</h2>
    {% for rast in rastreamento %}
        <div class="plugins__list plugins-plano{{ loop.index0 }}">
        {% for plugin in rast.plugins %}
            <div class="plugin-item" data-index="{{ loop.index0 }}" data-valor="{{ plugin.valor }}" data-nome="{{ plugin.nome }}">
                <div class="nome-plugin uppercase">
                    <strong>{{ plugin.nome }}</strong>
                </div>
                <div>
                    <span class="cifrao">R$</span>
                    <span class="valor">{{ plugin.valor_inteiro }},{{ plugin.valor_decimal }}</span>
                    <span class="tempo">por mês</span>
                </div>

                {% if (plugin.logoUrl) %}
                    <span class="logo"><img src="{{ plugin.logoUrl }}" /></span>
                {% endif %}
                <input type="checkbox" name="plugin-index[]" value="{{ loop.index0 }}"{% if (plugin.preSelecionado) %} checked="checked"{% endif %} />
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
    </section>
{% endif %}


{% if rastreamentoSeguro|length > 0 %}
<section>
    <div class="conteudo conteudo__planos-rastreamento-mais-seguro">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <h2 class="planos-titulo">Planos com Seguro</h2>
                    <hr class="sep" />
                </div>

                <div class="flex-itens">
                    {% for rastSeg in rastreamentoSeguro %}
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="planos-rastreamento-mais-seguro__box {% if loop.first %}destaque{% else %}mt-4{% endif %}">

                                {% if loop.first %}
                                    <span class="box-destaque">
                                        <span>PLANO SUGERIDO</span>
                                    </span>
                                {% endif %}
                                <div class="plano-hover cor-laranja">
                                    <h4 class="titulo">{{ rastSeg.nome }}</h4>
                                    <hr class="sep" />

                                    <div class="content">
                                        <p>{{ rastSeg.descricao }}</p>
                                    </div>

                                    <div class="matchHeight matchMarge">
                                        <div class="descricao">
                                            <span class="cifrao">R$</span>
                                            <span class="valor">{{ rastSeg.valor_inteiro }},</span>
                                            <span class="valor-decimal">{{ rastSeg.valor_decimal }}</span>
                                            <span class="tempo">por mês</span>

                                            <span class="budle">
                                            + instalação
                                        </span>
                                        </div>
                                        <div class="center-block text-center">
                                            <button class="btn btn-default btn-lg btn-selecionar-cotacao" data-index="{{ loop.index0 }}" data-type="rastreamento-seguro">SELECIONAR</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div><!-- /*row -->
        </div>
    </div>
</section>
{% endif %}

<section>
    <div class="resumo conteudo__planos-rastreamento-mais-seguro bg-grey">
        <div class="col-xs-12 text-center">
            <h2>Total a contratar</h2>
        </div>
        <div class="row plano">
            <div>
                <span class="nome"></span>
                <span class="budle">+ instalação</span>
            </div>
            <div>
                <span class="valor"></span>
                <span>por mês</span>
            </div>
        </div>

        <div class="row plugins">
            Pacote Adicional:
            <div class="plugin-modelo" style="display:none;">
                <div>
                    <span class="nome"></span>
                </div>
                <div>
                    <span class="valor"></span>
                    <span>por mês</span>
                </div>
            </div>
            <div class="row plugin-container"></div>
        </div>
        <hr>
        <div class="row">
            <div>
                Cotação realizada no dia: {{ dataCotacao }}
            </div>
            <div>
                Total:
                <span class="total"></span>
                <span>por mes</span>
            </div>
        </div>

        <div class="row">
            <button class="btn btn-lg center-block bg-grey-button btn-enviar-contato" type="submit">
                Enviar
            </button>
            <a href="http://www.positronrastreamentoseguro.com.br" target="_blank" class="btn btn-lg center-block bg-grey-button-transparent">
                Comprar online em nosso e-commerce
            </a>
        </div>
    </div>
</section><!-- /* -->

  <div class="alert alert-danger alert-cotacao-error" style="display: none; margin-top: 20px"></div>
</form>
