<main class="tracking">

  <div class="tracking__container">
    <section class="tracking-price">
      <div class="tracking-loading loading-box text-center">
        <div class="tracking-loading__logo"></div>
        <p class="tracking-loading__text">Carregando Planos...</p>
      </div>

      <div class="front">
        <div class="front__container-info">
          <h2 class="front__title">Conheça nossos planos</h2>
          <span class="front__subtitle">A partir de</span>
          <div class="front__price-container">
            <span class="front__price">
              <span class="front__cifra">R$</span>
              <span class="front__valor-inteiro">{{ preco.valor_inteiro }}</span>
              <span class="front__valor-decimal">,{{ preco.valor_decimal }}</span>
              <span class="front__periodo-price">/mês</span>
              <span class="front__info-price">Instalação Grátis</span>
          </div>
        </div>

        <button type="button" class="front__button">Simule e Contrate <span class="front__button-seta"></span></button>
      </div>


      <div class="step step1">
        <div class="step1-header-info">
          <span class="step1-header-info__title">
            Muito mais segurança e tranquilidade para você e sua família com os serviços de rastreamento Pósitron!
          </span>
          <p class="step1-header-info__txt">
            O rastreamento de veículos é indicado para quem busca proteger o seu carro ou moto com um serviço eficiente
            e que possui excelente custo-benefício.
          </p>
        </div>
        <h2 class="step1__title">Veja os planos de rastreamento disponíveis para o seu veículo</h2>
        <form id="frm-cotacao" name="frm-cotacao">
          <div class="dados-pessoais grupo grupo1">
            <div class="form-group">
              <div class="input-container">
                <input type="text" value="" class="step-input" name="name" id="name" placeholder="Nome:">
              </div>
            </div>
            <div class="form-group">
              <div class="input-container">
                <input type="text" value="" class="step-input step-input--email" name="email" id="email"
                  placeholder="E-mail:">
              </div>
            </div>

            <div class="form-group">
              <div class="input-container">
                <input type="text" value="" class="step-input step-input--cpf" name="cpf" id="cpf" placeholder="CPF:">
              </div>
              <div class="input-container">
                <input type="text" value="" class="step-input" name="datanascimento" id="datanascimento"
                  placeholder="Data de nascimento">
              </div>
            </div>
            <div class="form-group">
              <div class="input-container">
                <input type="text" value="" class="step-input" name="cep" id="cep" placeholder="CEP:">
              </div>
              <div class="input-container">
                <input type="text" value="" class="step-input" name="phone" id="telefone" placeholder="Telefone:">
              </div>

            </div>
            <div class="form-group">
              <div class="radio-group">
                <label class="radio-group__label">Sexo: </label>
                <label for="sex_fem" class="radio-button">
                  <input type="radio" name="sex" id="sex_fem" value="F"> Feminino
                </label>
                <label for="sex_masc" class="radio-button">
                  <input type="radio" name="sex" id="sex_masc" value="M"> Masculino
                </label>
              </div>
            </div>

            {# <button type="button" class="tracking-button button-continue ">Continue</button> #}

          </div>
          <div class="grupo grupo2 form-group" style="display:none;">
            <span class="grupo__title">Dados do veículo</span>

            <div class="form-group form-group--plate">
              <div class="input-container">
                <input type="text" class="step-input" name="plate" id="plate" placeholder="Placa:" value="">
              </div>
              <div class="input-container">
                <input type="text" class="step-input" name="chassi" id="chassi" placeholder="Chassi:" value="">
              </div>
            </div>

            <div class="radio-group">
              <label class="radio-group__label">Zero KM: </label>
              <label for="okm_sim" class="radio-button">
                <input type="radio" name="okm" id="okm_sim" value="1"> Sim
              </label>
              <label for="okm_nao" class="radio-button">
                <input type="radio" name="okm" id="okm_nao" value="0"> Não
              </label>
            </div>

            <div class="plate-loading text-center" style="display:none;">
              <p><img src="{{ image_path ~ 'loading.svg' }}" width="32" /></p>
            </div>

          </div>

          <div class="step2">
            <!-- AJAX Result -->
          </div>

          <div class="alert alert-danger alert-cotacao-error" style="display: none; margin-top: 20px"></div>
        </form>
    </section>
    <section class="tracking-info" style="background-image: url('{{ image_path ~ 'bg-tracking-info.jpg' }}')">
      <div class="tracking-info__content">
        <h2 class="tracking-info__title">
          Muito mais segurança e tranquilidade para você e sua família com os serviços de rastreamento Pósitron!
        </h2>
        <p class="tracking-info__txt">
          O <strong>rastreamento</strong> de veículos é indicado para quem busca proteger o seu carro ou moto com um
          serviço eficiente e que possui excelente custo-benefício.
          <br><br>
          Com o sistema é possível rastrear o seu veículo a qualquer hora do dia, por meio de um <strong>GPS</strong>
          que permanece ativo durante 24horas por dia, monitorando e informando a localização do automóvel em tempo
          real.
          <br><br>
          Ao adquirir os serviços de <strong>Rastreamento</strong> Pósitron você garante proteção em caso de roubo ou
          furto, e ainda pode acrescentar funcionalidades ao seu plano por um preço que cabe no seu bolso!
        </p>
        {# <button class="tracking-info__more">Veja Mais</button> #}
      </div>

    </section>
  </div>

  <div class="row tracking-features">
    <h2 class="tracking-features__title">A <strong>Pósitron</strong> oferece:</h2>
    {{ drupal_view('tracking_feature') }}
  </div>

  <section class="plans">
    <div class="step3">

      <!-- THEME DEBUG -->
      <!-- THEME HOOK: 'cotacao-etapa2' -->
      <!-- BEGIN OUTPUT from 'modules/custom/pst_rastreamento/templates/cotacao-etapa2.html.twig' -->
      <form id="frm-step2" name="frm-step2" novalidate="novalidate">
        <div class="grupo form-group">
          <button type="button" class="btn btn-lg center-block button-voltar">Voltar</button>
        </div>

        <section>
          <h2 class="plans__title">
            Planos disponíveis
          </h2>
          <div class="container-plans">
            <div data-valor="39.9" class="planos-rastreamento-mais-seguro__box plans-item">

              <h4 class="titulo"><strong>PACOTE POSITRON</strong> REGIONAL</h4>
              <div class="price">
                <span class="cifrao">R$</span>
                <span class="valor">39</span>
                <span class="valor-decimal">,90</span>
                <span class="tempo">por mês</span>

                <span class="budle">+ instalação</span>
              </div>
              <div class="descricao">
                <p>PLANO COM COBERTURA REGIONAL. DISPONÍVEL PARA REGIÕES METROPOLITANAS DE SÃO PAULO, RIO DE JANEIRO,
                  CAMPINAS E BAIXADA SANTISTA.</p>
              </div>
              <span class="logo"><img
                  src="https://picsum.photos/103/56"></span>
              <input type="radio" name="plano-index" id="plano-index0" value="0">
            </div>
            <div data-valor="63.9" class="planos-rastreamento-mais-seguro__box plans-item">

              <h4 class="titulo"><strong>PACOTE POSITRON</strong> NACIONAL WEB</h4>
              <div class="price">
                <span class="cifrao">R$</span>
                <span class="valor">63</span>
                <span class="valor-decimal">,90</span>
                <span class="tempo">por mês</span>

              </div>
              <div class="descricao">
                <p>PLANO COM ACESSO AO MONITORAMENTO DO VEÍCULO VIA WEB, COBERTURA NACIONAL, LOCALIZAÇÃO E BLOQUEIO EM
                  CASO DE ROUBO OU FURTO.</p>
              </div>
              <input type="radio" name="plano-index" id="plano-index1" value="1">
            </div>
            <div data-valor="59.9" class="planos-rastreamento-mais-seguro__box plans-item">

              <h4 class="titulo"><strong>PACOTE POSITRON</strong> NACIONAL</h4>
              <div class="price">
                <span class="cifrao">R$</span>
                <span class="valor">59</span>
                <span class="valor-decimal">,90</span>
                <span class="tempo">por mês</span>

              </div>
              <div class="descricao">
                <p>PLANO QUE LOCALIZA E BLOQUEIA O VEÍCULO EM CASO DE ROUBO OU FURTO POR INTERMEDIO DE UMA CENTRAL
                  EXCLUSIVA DE EMERGÊNCIAS.</p>
              </div>
              <input type="radio" name="plano-index" id="plano-index2" value="2">
            </div>
          </div>

          <div class="container-plugins">
            <h2 class="plugins__title">Planos Adicionais +</h2>
            <div class="plugins__list plugins-plano0">
              <div class="plugin-item" data-index="0" data-price="9.9">
                <div class="nome-plugin uppercase">
                  <strong>ASSISTENCIA RESIDENCIAL</strong>
                </div>
                <div class="price">
                  <span class="cifrao">R$</span>
                  <span class="valor">9,90</span>
                  <span class="tempo">por mês</span>
                </div>

                <span class="logo"><img
                    src="https://picsum.photos/103/56"></span>

                <input type="checkbox" name="plugin-index[]" value="0">
              </div>
              <div class="plugin-item" data-index="1" data-price="5">
                <div class="nome-plugin uppercase">
                  <strong>ASSISTENCIA TECNICA A DOMICILIO</strong>
                </div>
                <div>
                  <span class="cifrao">R$</span>
                  <span class="valor">5,00</span>
                  <span class="tempo">por mês</span>
                </div>

                <span class="logo"><img
                    src="https://picsum.photos/103/56"></span>

                <input type="checkbox" name="plugin-index[]" value="1">
              </div>
              <div class="plugin-item" data-index="2" data-price="14.9">
                <div class="nome-plugin uppercase">
                  <strong>SERVIÇO DE ASSISTÊNCIA 24 HRS
                  </strong>
                </div>
                <div>
                  <span class="cifrao">R$</span>
                  <span class="valor">14,90</span>
                  <span class="tempo">por mês</span>
                </div>

                <span class="logo"><img
                    src="https://picsum.photos/103/56"></span>

                <input type="checkbox" name="plugin-index[]" value="2">
              </div>
            </div>
            <div class="plugins__list plugins-plano1">
              <div class="plugin-item" data-index="0" data-price="9.9">
                <div class="nome-plugin uppercase">
                  <strong>ASSISTÊNCIA RESIDENCIAL</strong>
                </div>
                <div>
                  <span class="cifrao">R$</span>
                  <span class="valor">9,90</span>
                  <span class="tempo">por mês</span>
                </div>

                <span class="logo"><img
                    src="https://picsum.photos/103/56"></span>

                <input type="checkbox" name="plugin-index[]" value="0">
              </div>
              <div class="plugin-item" data-index="1" data-price="5">
                <div class="nome-plugin uppercase">
                  <strong>ASSISTENCIA TECNICA A DOMICILIO</strong>
                </div>
                <div>
                  <span class="cifrao">R$</span>
                  <span class="valor">5,00</span>
                  <span class="tempo">por mês</span>
                </div>

                <span class="logo"><img
                    src="https://picsum.photos/103/56"></span>

                <input type="checkbox" name="plugin-index[]" value="1">
              </div>
              <div class="plugin-item" data-index="2" data-price="5">
                <div class="nome-plugin uppercase">
                  <strong>RELATORIO DE KM PERCORRIDO</strong>
                </div>
                <div>
                  <span class="cifrao">R$</span>
                  <span class="valor">5,00</span>
                  <span class="tempo">por mês</span>
                </div>

                <span class="logo"><img
                    src="https://picsum.photos/103/56"></span>

                <input type="checkbox" name="plugin-index[]" value="2">
              </div>
              <div class="plugin-item" data-index="3" data-price="14.9">
                <div class="nome-plugin uppercase">
                  <strong>SERVIÇO DE ASSISTÊNCIA 24 HRS
                  </strong>
                </div>
                <div>
                  <span class="cifrao">R$</span>
                  <span class="valor">14,90</span>
                  <span class="tempo">por mês</span>
                </div>

                <span class="logo"><img
                    src="https://picsum.photos/103/56"></span>

                <input type="checkbox" name="plugin-index[]" value="3">
              </div>
              <div class="plugin-item" data-index="4" data-price="3">
                <div class="nome-plugin uppercase">
                  <strong>SITE CONTROLE DE FROTA</strong>
                </div>
                <div>
                  <span class="cifrao">R$</span>
                  <span class="valor">3,00</span>
                  <span class="tempo">por mês</span>
                </div>

                <span class="logo"><img
                    src="https://picsum.photos/103/56"></span>

                <input type="checkbox" name="plugin-index[]" value="4">
              </div>
              <div class="plugin-item" data-index="5" data-price="7">
                <div class="nome-plugin uppercase">
                  <strong>VISUALIZE O VEICULO A CADA 1 MINUTO</strong>
                </div>
                <div>
                  <span class="cifrao">R$</span>
                  <span class="valor">7,00</span>
                  <span class="tempo">por mês</span>
                </div>

                <span class="logo"><img
                    src="https://picsum.photos/103/56"></span>

                <input type="checkbox" name="plugin-index[]" value="5">
              </div>
            </div>
            <div class="plugins__list plugins-plano2">
              <div class="plugin-item" data-index="0" data-price="9.9">
                <div class="nome-plugin uppercase">
                  <strong>ASSISTÊNCIA RESIDENCIAL</strong>
                </div>
                <div>
                  <span class="cifrao">R$</span>
                  <span class="valor">9,90</span>
                  <span class="tempo">por mês</span>
                </div>

                <span class="logo"><img
                    src="https://picsum.photos/103/56"></span>

                <input type="checkbox" name="plugin-index[]" value="0">
              </div>
              <div class="plugin-item" data-index="1" data-price="5">
                <div class="nome-plugin uppercase">
                  <strong>ASSISTENCIA TECNICA A DOMICILIO</strong>
                </div>
                <div>
                  <span class="cifrao">R$</span>
                  <span class="valor">5,00</span>
                  <span class="tempo">por mês</span>
                </div>

                <span class="logo"><img
                    src="https://picsum.photos/103/56"></span>

                <input type="checkbox" name="plugin-index[]" value="1">
              </div>
              <div class="plugin-item" data-index="2" data-price="14.9">
                <div class="nome-plugin uppercase">
                  <strong>SERVIÇO DE ASSISTÊNCIA 24 HRS
                  </strong>
                </div>
                <div>
                  <span class="cifrao">R$</span>
                  <span class="valor">14,90</span>
                  <span class="tempo">por mês</span>
                </div>

                <span class="logo"><img
                    src="https://picsum.photos/103/56"></span>

                <input type="checkbox" name="plugin-index[]" value="2">
              </div>
            </div>
          </div>
    </div>
    </div>
    </div>
  </section>



  <section>
    <div class="resumo conteudo__planos-rastreamento-mais-seguro bg-grey">
      <div class="col-xs-12 text-center">
        <h2>Total a contratar</h2>
      </div>
      <div class="row plano">
        <div>
          <span class="nome"></span>
          <span class="budle">+ instalação</span>
        </div>
        <div>
          <span class="valor"></span>
          <span>por mês</span>
        </div>
      </div>

      <div class="plugins">
        Pacote Adicional:
        <div class="row plugin multiplo">
          <div>
            <span class="nome"></span>
          </div>
          <div>
            <span class="valor"></span>
            <span>por mês</span>
          </div>
        </div>
        <hr>
        <div class="row plugin multiplo">
          <div>
            Cotação realizada no dia:
          </div>
          <div>
            Total:
            <span class="total"></span>
            <span>por mes</span>
          </div>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-lg center-block bg-grey-button btn-enviar-contato" type="submit">
          Enviar
        </button>
        <a href="http://www.positronrastreamentoseguro.com.br" target="_blank"
          class="btn btn-lg center-block bg-grey-button-transparent">
          Comprar online em nosso e-commerce
        </a>
      </div>
    </div>
  </section><!-- /* -->

  <div class="alert alert-danger alert-cotacao-error" style="display: none; margin-top: 20px"></div>
  </form>
  <!-- END OUTPUT from 'modules/custom/pst_rastreamento/templates/cotacao-etapa2.html.twig' -->

  </div>

  <script>
    $ = jQuery;
    $(function () {


      $(window).on('load', function () {
        var maior = 0;

        $('.plans-item .price').outerHeight('auto').each(function (index, el) {
          var altura = $(el).outerHeight();
          if (altura > maior) {
            maior = altura;
          }
        });

        $(".plans-item .price").outerHeight(maior);
      });
    })
    function setPlans() {
      $ = jQuery;
      $(".tracking__container").hide();
      $(".tracking-features").hide();
      $(".plans").show();

      $("#frm-step2 .button-voltar").on('click', function (el) {
        $(".tracking__container").hide();
        $(".tracking-features").hide();
        $(".plans").show();
        $('.loading-box').hide();
        $(".plans").hide();
        $('div.step1').show();
        $(".tracking__container").show();
        $(".tracking-features").show();
      });

      $("#frm-step2 .btn-selecionar-cotacao").on('click', function (evt) {
        var $bt = $(this);
        $("#frm-step2 .plugins").hide();
        $("#frm-step2 .plugins-plano" + $bt.data("index")).show();
        $bt.prev("input[type='radio']").prop("checked", true);
      });

      $('.btn-add-plugin').on('click', function () {
        var $bt = $(this);
        if (!$bt.parent().parent().hasClass('plugin-added')) {
          $bt.html('Remover');
          $bt.removeClass('bg-grey-button').addClass('bg-transparent-button');
          $bt.parent().parent().removeClass('border-grey').addClass('border-blue plugin-added');
          $bt.prev("input[type='checkbox']").prop("checked", true);
        } else {
          $bt.html('Adicionar');
          $bt.removeClass('bg-transparent-button').addClass('bg-grey-button');
          $bt.parent().parent().removeClass('border-blue plugin-added').addClass('border-grey');
          $bt.prev("input[type='checkbox']").prop("checked", false);
        }
      });
    };

  </script>


  </section>

</main>
